<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735334074381-s5arra4lfg4kooj5i3ll1qkk957ookl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735334074381-s5arra4lfg4kooj5i3ll1qkk957ookl8</string>
	<key>API_KEY</key>
	<string>AIzaSyBW8rQnwpMn2YUEr8JKRtQHzPzp10y4-Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>735334074381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-c4e36</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-c4e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735334074381:ios:c3b6963b7f7ddd48df2d44</string>
</dict>
</plist>